/*
/* GLOBAL */
/*
/* things that apply to everything on the site: fonts, colour variables etc...*/
body {
  font-family: "Lora", serif;
  background-image: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9498.JPG?v=1649198807404");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



/* NAVIGATION */

nav a {
  float: left;
  color: #ee6123;
  transition: all 0.5s ease;
  list-style: none;
  margin: 8px;
  display: inline-block;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  font-family: "Lora", serif;
}

nav a:hover,
nav a:focus {
  color: #ddf9c1;
  text-decoration: underline;
}

.bg-img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.whaleheader .bg-img {
  background-image: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9624.JPG?v=1651009603906");
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
}

h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #082969;
}

/* page layout*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
/* Page Specific Styles */
/*
/* things that apply to only specific pages */

/* HOME PAGE */

.flex div {
  background: #c7ac92;
  width: 45%;
  min-width: 200px;
  border: 1px solid #2e282a;
  margin: 1%;
  min-height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.flex {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

img {
  width: 45%;
  margin: 1%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* ABOUT PAGE */

.flex2 div {
  background: #7bcdba;
  width: 45%;
  min-width: 200px;
  border: 1px solid #2e282a;
  margin: 1%;
  min-height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.flex2 {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

i {
  margin: 20px;
}

h5 {
  font-size: 20px;
  font-style: bold;
}

/* MENU PAGE */

.menu h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  line-height: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-back {
  background-color: #f16a10;
  color: white;
  transform: rotateY(180deg);
  padding: 5px;
}

.algae p,
.homebase p,
.sandy p {
  color: black;
}

.tree {
  background-color: #536c1b;
}

.sky {
  background-color: #20658e;
}

.dog {
  background-color: #4b97ae;
}

.connor {
  background-color: #89919c;
}

.island {
  background-color: #356857;
}

.algae {
  background-color: #ffe02d;
}

.homebase {
  background-color: #ffe1b3;
}

.sunset {
  background-color: #5f4b66;
}

.mountain {
  background-color: #67aaf9;
}

.water {
  background-color: #9bbdf9;
}

.sandy {
  background-color: #f7f3e3;
}

.art {
  background-color: #00916e;
}

.flip-card:hover .flip-card-inner,
.flip-card.hover_effect .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/8DDAE477-00B1-4588-8E8A-B6A587E968AC.JPG?v=1649199170308");
  background-size: cover;
  background-position: center;
}
.image2 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/D1A9A1A4-8ACB-4BF8-BC63-E9F0755177E6.jpeg?v=1649791965611");
  background-size: cover;
  background-position: center;
}

.image3 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/53066CD1-4A8F-4F28-8E8E-B088D0C1D542.JPG?v=1649792076441");
  background-size: cover;
  background-position: center;
}

.image4 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/405619BF-A1F9-4FAE-B9F3-467C99E1ECED.JPG?v=1649792089785");
  background-size: cover;
  background-position: center;
}

.image5 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/Enlight99.JPG?v=1649792157393");
  background-size: cover;
  background-position: center;
}

.image6 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/BAJA%202018.jpg?v=1649796655096");
  background-size: cover;
  background-position: center;
}

.image7 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9622.JPG?v=1649793176088");
  background-size: cover;
  background-position: center;
}

.image8 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9424.JPG?v=1649792224013");
  background-size: cover;
  background-position: center bottom;
}

.image9 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9453.JPG?v=1651014414910");
  background-size: cover;
  background-position: center;
}

.image10 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9513.JPG?v=1651014440424");
  background-size: cover;
  background-position: center;
}

.image11 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9595.JPG?v=1651014484417");
  background-size: cover;
  background-position: center;
}

.image12 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9619.JPG?v=1651017405129");
  background-size: cover;
  background-position: center;
}

.image13 {
  background: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/back.jpg?v=1652399243338");
  background-size: cover;
  background-position: center;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* MEDIA QUERIES */

/* leave media queries here */
@media (min-width: 800px) {
  .flex {
    flex-direction: row;
    align-content: flex-start;
  }
}

@media (min-width: 800px) {
  .flex2 {
    flex-direction: row;
    align-content: flex-start;
  }
}
