/*
/* GLOBAL */
/*
/* things that apply to everything on the site: fonts, colour variables etc...*/
body {
  font-family: "Lora", serif;
  background-image: url("https://cdn.glitch.global/d1a7471f-0d8d-4044-89e7-a4dda869d354/IMG_9498.JPG?v=1649198807404");
  background-repeat: no-repeat;
  background-size: cover;
}
/* NAVIGATION */

nav a {
  text-decoration: none;
  color: orange;
  transition: all 0.5s ease;
}

nav a:hover,
nav a:focus {
  color: #ddf9c1;
  text-decoration: underline;
}

/* Headers */

h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #082969;
}

/*
/* Page Specific Styles */
/*
/* things that apply to only specific pages */

/* HOME PAGE */

.flex div {
  background: #c7ac92;
  width: 45%;
  min-width: 200px;
  border: 1px solid #2e282a;
  margin: 1%;
  min-height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

img {
  width: 45%;
  margin: 1%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* ABOUT PAGE */

img {
}

/* MENU PAGE */

.flip-card1 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
.flip-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-back1 {
  background-color: #FFB86F;
  color: white;
  transform: rotateY(180deg);
}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  }

/* flip card 2 */

.flip-card2 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-back2 {
  background-color: #2A7221;
  color: white;
  transform: rotateY(180deg);
}

.flip-cards-back2, h1 {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  }
  
/* MEDIA QUERIES */

/* leave media queries here */
@media (min-width: 800px) {
  .flex {
    flex-direction: row;
    align-content: flex-start;
  }
}
